# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so




# SQLite database files
*.sqlite
*.sqlite3
*.db
*.db3

# MLflow tracking directories
mlruns/
.mlruns/
mlartifacts/



